.terms-privacy {
  margin: 4px 0 16px;
  font-size: 14px;
}

.terms-link {
  font-size: 14px;
  text-decoration: none;
  color: var(--primary);
  transition: var(--transition);

  &:hover {
    color: var(--primary-hover);
    text-decoration: underline;
  }
}
